[submodule "skynet"]
	path = server/skynet
	url = git@github.com:cloudwu/skynet.git
[submodule "server/3rd/binaryheap.lua"]
	path = server/3rd/binaryheap.lua
	url = https://github.com/Tieske/binaryheap.lua.git
[submodule "server/3rd/sproto-orm"]
	path = server/3rd/sproto-orm
	url = https://github.com/hanxi/sproto-orm.git
[submodule "server/3rd/lua-cjson"]
	path = server/3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
